<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @breed.name %>
</p>
<p><strong>Associated Cats:</strong>
<% if @breed.cats.presence? %>
  <% @breed.cats.each do |cat| %>
    <% link_to cat.name, cats_path %>
    <% end %>
<% end %>
</p>
<p>
  <strong>Description:</strong>
  <%= @breed.description %>
</p>

<%= link_to 'Edit', edit_breed_path(@breed) %> |
<%= link_to 'Back', breeds_path %>
