<div class="cat">
  <% if cat.image.present? %>
    <%= image_tag cat.image %>
  <% end %>
  <h2><%= cat.name %></h2>
  <p><strong>Age: </strong><%= cat.age %></p>
  <p><strong>Colour: </strong><%= cat.colour %></p>
  <p><strong>Rescue Date: </strong><%= cat.rescue_date %></p>
  <p><strong>Adoption Fee: </strong><%= cat.price %></p>
  <%= link_to 'Adopt Me!', adopt_path %>
</div>

